@model Flashcards.Models.Reviews.ReviewQuestionViewModel
@{
    ViewBag.Title = "Question";
    ViewBag.Module = "Review.Question";
}



@if (Model == null)
{
    <h4 class="text-center">You completed your review for LANGUAGE_NAME</h4>
}
else
{
    @Html.HiddenFor(m => m.ReviewID) 
    @Html.DisplayFor(m => m)
}

