@import "../definitions.scss";


#answer
{
    .nexter
    {
        display: flex;
        justify-content: center;
    }

    .possibleAnswer
    {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        border : 1px solid rgba($hintColor, 0.2);
        @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.12));

        .pronounciation
        {
            color: $hintColor;
            font-size: small;
        }

        .translation
        {
            font-size: large;
        }

        @include transition(opacity 0.5s);

        &:hover div
        {
            opacity: 1 !important;
        }
    }
}
