@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Flashcards</h1>
    <p class="lead">Flashcards is an application used as language learning service which is using only 1 language during learning process</p>
</div>
