@model Flashcards.Models.Flashcards.AnswerTranslationList

<div class="row">
    @foreach (var translation in Model.Translations)
    {
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="possibleAnswer">
                <div class="pronounciation"  style="opacity:@translation.Significance">
                    @translation.Pronounciation
                </div>
                <div class="translation"  style="opacity:@translation.Significance">
                    @translation.Translation
                </div>
            </div>
        </div>
    }
</div>